.hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.logo {
    max-width: 13rem;
}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 1024px) {
    .primary-navigation {
        display: none;
    }

    .primary-navigation[data-visible] {
        display: block;
        position: fixed;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: .5rem;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }
}