/*1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-size: 16px;
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline;
          -webkit-text-decoration: underline dotted currentColor;
                  text-decoration: underline dotted currentColor;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] { /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../../public/assets/fonts/AktivGrotesk-Medium.woff2') format('woff2'),
        url('../../public/assets/fonts/AktivGrotesk-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../../public/assets/fonts/AktivGrotesk-Light.woff2') format('woff2'),
        url('../../public/assets/fonts/AktivGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../../public/assets/fonts/AktivGrotesk-Black.woff2') format('woff2'),
        url('../../public/assets/fonts/AktivGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../../public/assets/fonts/AktivGrotesk-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/AktivGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../../public/assets/fonts/AktivGrotesk-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/AktivGrotesk-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {

    /* ----- COLOR STYLES ----- */
        
/* PRIMARY */
--clr-primary-100: #B0E3E0;
--clr-primary-200: #8AD6D1;
--clr-primary-300: #54C3BC;
--clr-primary-400: #33B7AF;
--clr-primary-500: #00A59B;
--clr-primary-600: #00968D;
--clr-primary-700: #00756E;
--clr-primary-800: #005B55;
--clr-primary-900: #004541;

/* ACCENT */
--clr-accent-100: #BBD1E4;
--clr-accent-200: #9ABBD7;
--clr-accent-300: #6C9CC4;
--clr-accent-400: #5089B9;
--clr-accent-500: #246BA7;
--clr-accent-600: #216198;
--clr-accent-700: #1A4C77;
--clr-accent-800: #143B5C;
--clr-accent-900: #0F2D46;

/* NEUTRAL */
--clr-neutral-100: #FAFAFA;
--clr-neutral-200: #E4E4E4;
--clr-neutral-300: #B2B2B2;
--clr-neutral-400: #848790;
--clr-neutral-500: #656974;
--clr-neutral-600: #5C606A;
--clr-neutral-700: #484B52;
--clr-neutral-800: #383A40;
--clr-neutral-900: #2A2C31;



--ff-primary: "Aktiv Grotesk", sans-serif;


--fs-50: .875rem;
--fs-100: 1rem;
--fs-200: 1.125rem;
--fs-300: 1.25rem;
--fs-400: 1.5rem;
--fs-450: 1.75rem;
--fs-500: 2rem;
--fs-550: 2.25rem;
--fs-600: 2.75rem;
--fs-700: 3rem;
--fs-800: 4rem;
--fs-900: 5.75rem;


--fs-clamp-xs: max(1.00rem, min(calc(0.98rem + 0.09vw), 1.13rem));
--fs-clamp-sm: max(1.75rem, min(calc(1.66rem + 0.43vw), 2.00rem));
--fs-clamp-md: max(1.75rem, min(calc(1.68rem + 0.36vw), 2.25rem));
--fs-clamp-lg: max(2.00rem, min(calc(1.74rem + 1.30vw), 2.75rem));
--fs-clamp-xl: max(2.25rem, min(calc(1.55rem + 3.50vw), 5.75rem));

--lh-100: 100%;
--lh-200: 120%;
--lh-300: 135%;
--lh-400: 150%;
--lh-600: 165%;
--lh-700: 185%;

--ds-200: 0px 14px 14px 0px rgba(33,33,33,0.05);

--br-500: 5px;
--br-700: 10px;
--br-900: 30px;

--transition-btn-on: all .25s ease;
--transition-btn-off: all 0.5s ease;

}
:root {

/* FONT FAMILY */
--ff-body: var(--ff-primary);
--ff-label: var(--ff-primary);
--ff-heading: var(--ff-primary);
--ff-nav: var(--ff-primary);


/* FONT WEIGHT */
--fw-regular: 500;
--fw-semi-bold: 600;
--fw-bold: 700;


/* FONT SIZE */
--fs-nav: var(--fs-100);
--fs-button: var(--fs-100);
--fs-body: var(--fs-100);
--fs-body: var(--fs-clamp-xs);

--fs-label-sm: var(--fs-50);
--fs-label-md: var(--fs-200);
--fs-label-lg: var(--fs-300);

--fs-heading-sm: var(--fs-clamp-sm);
--fs-heading-md: var(--fs-clamp-md);
--fs-heading-lg: var(--fs-clamp-lg);
--fs-heading-xl: var(--fs-clamp-xl);


/* DROP SHADOW */
--ds-primary: var(--ds-200);


/* BORDER RADIUS */
--br-sm: var(--br-500);
--br-md: var(--br-700);

/* SPACING */
--pading-vert: 3.75rem;
--padding-horz: 1rem;
--max-width: 87.5rem;

/* TRANSITIONS */
--btn-on: var(--transition-btn-on);
--btn-off: var(--transition-btn-off);

}
@media (min-width: 18em) {
    :root {
        --padding-horz: 1.25rem;
    }
}
@media (min-width: 51em) {
    :root {
        --fs-button: var(--fs-300);
        --fs-heading-sm: var(--fs-500);
        --pading-vert: 7.5rem;
    }
}
/* ----- CONTAINERS ----- */
.container {
    max-width: 87.5rem;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    width: min(87.5rem, 100% - (1rem * 2));
    width: min(var(--max-width), 100% - (var(--padding-horz) * 2));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: var(--padding-horz);
    padding-right: var(--padding-horz);
}
.section {
    position: relative;
    padding-top: 3.75rem;
    padding-top: var(--pading-vert);
    padding-bottom: 3.75rem;
    padding-bottom: var(--pading-vert);
}
/* ----- GRIDS ----- */
.grid-even-cols {
    display: grid;
    grid-gap: 4rem;
    gap: 4rem;
}
@media (min-width: 51em) {
.grid-even-cols {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-content: space-between;
        gap: 8rem;
}
    }
ul[type="core-values"] {
    display: grid;
    grid-gap: 3rem;
    gap: 3rem;
}
@media (min-width: 51em) {
ul[type="core-values"] {
        gap: 5rem;
}
    }
ul[type=testimonials] {
    display: grid;
    grid-gap: 1.25rem;
    gap: 1.25rem;
}
@media (min-width: 33em) {
ul[type=testimonials] {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-content: space-between;
}
    }
@media (min-width: 51em) {
ul[type=testimonials] {
        grid-auto-flow: row;
        grid-auto-columns: auto;
}
    }
.grid[type="value-add"] {
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
}
@media (min-width: 68em) {
.grid[type="value-add"] {
        grid-auto-flow: column;
        grid-auto-columns: 1fr 2fr;
        gap: 3rem;
}
    }
ul[type=value-add] {
    display: grid;
    grid-gap: 4rem;
    gap: 4rem;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    align-content: space-between;
    justify-items: baseline;   
}
@media (min-width: 51em) {
ul[type=value-add] {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 2rem;   
}
    }
/* ----- BACKGROUND IMAGES ------ */
.transparent-img {
    height: 100%;
    position: relative;
    isolation: isolate;
    --arch-img: url(assets/images/blueprint-bg.png);
    --building-img: url(assets/images/building-bg_1x.webp);
    --img-opacity: .1;
}
.transparent-img::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--arch-img);
    opacity: var(--img-opacity);
    background-size: cover;
    background-position: center;
}
.transparent-img-building {
    height: 100%;
    position: relative;
    isolation: isolate;
    --building-img: url(assets/images/building-bg_1x.webp);
    --img-opacity: .6;
}
.transparent-img-building::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--building-img);
    opacity: var(--img-opacity);
    background-size: cover;
    background-position: center;
    background-color: #FAF8F6;
}
.primary-navigation[data-visible] {
    display: block;
    position: fixed;
}
/* PADDING */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: .25rem;
}
.p-2 {
    padding: .5rem;
}
.p-3 {
    padding: .75rem;
}
.p-4 {
    padding: 1rem;
}
.p-5 {
    padding: 1.25rem;
}
.p-6 {
    padding: 1.5rem;
}
.p-7 {
    padding: 1.75rem;
}
.p-8 {
    padding: 2rem;
}
.p-9 {
    padding: 2.25rem;
}
.p-10 {
    padding: 2.5rem;
}
.p-11 {
    padding: 2.75rem;
}
.p-12 {
    padding: 3rem;
}
/* MARGIN */
.m-0 {
    margin: 0;
}
.m-1 {
margin: 0.25rem;
}
.m-2 {
margin: 0.5rem;
}
.m-3 {
margin: 0.75rem;
}
.m-4 {
margin: 1rem;
}
.m-5 {
margin: 1.25rem;
}
.m-6 {
margin: 1.5rem;
}
/* Top */
.mt-0 {
margin-top: 0;
}
.mt-1 {
margin-top: 0.25rem;
}
.mt-2 {
margin-top: 0.5rem;
}
.mt-3 {
margin-top: 0.75rem;
}
.mt-4 {
margin-top: 1rem;
}
.mt-5 {
margin-top: 1.25rem;
}
.mt-6 {
margin-top: 1.5rem;
}
/* Right */
.mr-0 {
margin-right: 0;
}
.mr-1 {
margin-right: 0.25rem;
}
.mr-2 {
margin-right: 0.5rem;
}
.mr-3 {
margin-right: 0.75rem;
}
.mr-4 {
margin-right: 1rem;
}
.mr-5 {
margin-right: 1.25rem;
}
.mr-6 {
margin-right: 1.5rem;
}
/* Bottom */
.mb-0 {
margin-bottom: 0;
}
.mb-1 {
margin-bottom: 0.25rem;
}
.mb-2 {
margin-bottom: 0.5rem;
}
.mb-3 {
margin-bottom: 0.75rem;
}
.mb-4 {
margin-bottom: 1rem;
}
.mb-5 {
margin-bottom: 1.25rem;
}
.mb-6 {
margin-bottom: 1.5rem;
}
/* Left */
.ml-0 {
margin-left: 0;
}
.ml-1 {
margin-left: 0.25rem;
}
.ml-2 {
margin-left: 0.5rem;
}
.ml-3 {
margin-left: 0.75rem;
}
.ml-4 {
margin-left: 1rem;
}
.ml-5 {
margin-left: 1.25rem;
}
.ml-6 {
margin-left: 1.5rem;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.gap-xxs {
    display: grid;
    grid-gap: 1.25rem;
    gap: 1.25rem;
}
.gap-xs {
    display: grid;
    grid-gap: 2.5rem;
    gap: 2.5rem;
}
.gap-sm {
    display: grid;
    grid-gap: 3rem;
    gap: 3rem;
}
.gap-md {
    display: grid;
    grid-gap: 4rem;
    gap: 4rem;
}
.gap-lg {
    display: grid;
    grid-gap: 5rem;
    gap: 5rem;
}
.content-between {
    display: grid;
    align-content: space-between;
}
.opacity-20 {
    opacity: 0.2;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.bottom-0 {
    bottom: 0;
}
.bottom-3 {
    bottom: .75rem;
}
.scrnSm-gap-sm {
    display: grid;
    grid-gap: 3rem;
    gap: 3rem;
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.max-w-none {
    max-width: none;
}
.bg-accent-800 {
    background-color: #143B5C;
    background-color: var(--clr-accent-800);
}
.bg-neutral-100 {
    background-color: #FAFAFA;
    background-color: var(--clr-neutral-100);
}
.text-clr-primary-500 {
    color: #00A59B;
    color: var(--clr-primary-500);
}
.text-clr-accent-500 {
    color: #246BA7;
    color: var(--clr-accent-500);
}
.fs-clamp-xl {
    font-size: max(2.25rem, min(calc(1.55rem + 3.50vw), 5.75rem));
    font-size: var(--fs-clamp-xl);
}
.fw-bold {
    font-weight: 700;
    font-weight: var(--fw-bold);
}
.z-10 {
    z-index: 10;
}
@media (min-width: 1024px) {
    .gap-xs {
        gap: 3rem;
    }
    .gap-sm {
        gap: 4rem;
    }
    .gap-md {
        gap: 8.75rem;
    }
    .gap-lg {
        gap: 15rem;
    }
    
    .scrnSm-gap-sm {
        gap: 0;
    }
}