.button {
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-100);
    font-size: var(--fs-button);
}

.button-filled {
    border-radius: var(--br-sm);
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-100);
}

.button-filled:hover {
    background-color: var(--clr-primary-700);
}

@media (min-width: 1024px) {
    .button {
        padding: 1.5rem 2rem;
    }
}